.main-chat{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 9fr;
    row-gap: 3vh;
    font-family:"Dongle", "vazirmatn";
}
.chat{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 30px 300px 30px;
    row-gap: 2vh;
}

.form-message-button:disabled{
    background-color: var(--color-2);
    cursor: default;
}


