.activity-chart-container > div:first-child{
    scale: 1.1;
    background-color:var(--color-1);
    margin-bottom: 0.5vh;
    color:var(--color-black)
}
.activity-chart-container > div:first-child:after{
    content: "";
    font-size: 0.6rem;
    background-color:rgb(170, 170, 255);
    width: 6px;
    height: 6px;
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
}

.activity-title{
    font-family: 'vazirmatn';
    font-size: 0.6rem;
}
.activity-date{
    font-size: 0.7rem;
}
.chart-container{
    display: grid;
    grid-template-rows: 3fr 1px 1fr;
    row-gap: 5px;
}
.bar-chart{
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-items: end;
    grid-template-columns: repeat(4,20px);
    column-gap: 2vw;
    padding: 0vh 1vw;
}
.names{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,20px);
    column-gap: 2vw;
    padding: 0vh 1vw;
}
.chart-title{
    text-align: center;
    font-family: 'vazirmatn';
    font-size: 0.7rem;
}
.bar{
    width: 100%;
    transition: height 0.8s ease-out; 
    height: 0;
    border-radius: 5px;
}

.closed{
    background-color: var(--color-9);
}
.in-progress{
    background-color: var(--color-3);    
}
.waiting{
  background-color: var(--color-1);
}
.created{
  background-color: var(--color-6);
}
