.custom-table {
  background-color: var(--color-3);
  color: var(--color-white);
}

.custom-table,
.custom-table th,
.custom-table td {
  background-color: var(--color-3);
  border-color: var(--color-2) !important;
  border-width: 2px;
  color: var(--color-white);
}

::-webkit-scrollbar {
    width: 7px; 
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #9e9e9e; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
  cursor: pointer;
}
.chat-row:hover {
  background-color: var(--color-3) !important;
  transition: 0.2s ease;
}

.table-dark.sticky-top {
  position: sticky;
  top: 0;
  z-index: 2;
}
