.profile{
    background-color: var(--white-color);
    flex-direction: column;
}
.profile > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-details > p{
    margin-left: 3vw;
}
.profile-button {
    background-color: var(--warning-color);
    padding: 1vh 2vw;
    border-radius: 1rem;
    cursor: pointer;
}