.slideshow-container{
    background-color: lightgrey; 
    max-height:90vh;
    min-height: 65vh;
}
.responsive-img-slideshow{
    max-height: 65vh;
    width: 100%;
}
@media only screen and (max-width: 992px){
    .responsive-img-slideshow{
        width: auto;
        max-height: 50vh;
    }
}
@media only screen and (max-width: 768px){
    /* .signup-login-link{
        position: absolute;
        top:0;
        left: 0;
    } */
    .input-container{
        max-height: 20px;
    }
    .input-container > div{
        
    }
    .responsive-img-slideshow{
        width: auto;
        max-height: 30vh;
    }
    .description-text{
        font-size: 1rem;
    }
    .register-container{
        max-height: 30vh;
    }
    .register-container > div{
        max-width: 50vw;
        min-width: 300px;
    }
}
@media only screen and (max-width: 1155px){
    .description-text{
        font-size: 1.2rem;
    }
}