.slideshow-container{
    background-color: lightgrey; 
    max-height:90vh;
    min-height: 60vh;
}
.responsive-img-slideshow{
    max-height: 65vh;
    width: 100%;
}
.register-container > div{
    max-height: 45vh;
}
@media only screen and (max-width: 992px){
    .responsive-img-slideshow{
        width: auto;
        max-height: 50vh;
    }
    .signup-login-link{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 768px){
    /* TODO: fix this don't make it none */
    .signup-login-link{
        display: none;
    }
    form > button { 
        font-size: 1.2rem !important;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .responsive-img-slideshow{
        width: auto;
        max-height: 30vh;
    }
    .description-text{
        font-size: 1rem;
    }
    .register-container{
        max-height: 40vh;
    }
    .register-container > div{
        max-width: 50vw;
        min-width: 300px;
    }
}
@media only screen and (max-width: 1155px){
    .description-text{
        font-size: 1.2rem;
    }
}